#main-modal{
  height: 90vh;
}

.body-banner{
  background-image: url("https://images.unsplash.com/photo-1514108225820-2b602873ac36?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=889&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}

.parrafo{
  background:rgba(0,0,0,.3);
  border-radius: 16px;
}
